@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";


@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-plusjakarta: "Plus Jakarta Sans", sans-serif;
  --color-inactivegray: #737791;
  --color-primary: #5D5FEF;
  --color-darkBlue: #151D48;
  --color-Black: #262626;
  --color-grayText: #AAAAAA;
  --color-blueText: #004B6D;
  --color-Blue: #0099FF;
  --color-buttonBg: #21CDAD;
  --lightRed: #FFEEF0;
  --color-blueColorLink: #0078FF;
  --color-lightBorder: #DFDFDF;
  --color-themeGreen: #119549;
  --color-themeOrange: #FF7B15;
  --color-formStripBg: #FFEEF0
}

span {
  display: inline-block;
}
p , a , input , select , option{
  font-family: "Manrope", sans-serif !important;
}

a {
  display: inline-block;
}

body {
  background: #F6F6F6;
}

button {
  cursor: pointer;
  transition-duration: 0.3s;
  font-family: "Manrope", sans-serif !important;
}

.inner-view-section {
  padding: 100px 30px 30px 330px;
}

.abs-search-icon {
  transform: translate(-0% , -50%);
}
table {
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 1px solid #EAEAEA;
  padding: 0px 20px !important;
  text-align: left !important;
}
table tbody tr:last-child{
   border-bottom: none !important;
}

table thead {
  background: #FFEEF0;
}

table thead tr th {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: normal !important;
  font-size: 14px;
  padding: 10px !important;
}

table thead tr th:first-child , table tbody tr td:first-child {
  padding: 10px 10px 10px 20px !important;
}
table tbody tr td {
  font-family: "Manrope", sans-serif !important;
    font-weight: normal !important;
  font-size: 14px;
  padding: 15px 10px !important;
}

input:focus {
  outline: none !important;
}
.form-section-labs input ,  .form-section-labs select{
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #CBD3DF;
  border-radius: 8px;
  transition-duration: 0.5s;
  width: 100%;
}

.swicth-outer-btn-form {
  border: 1px solid #CBD3DF;
  border-radius: 8px;
  transition-duration: 0.5s;
  width: 100%;
  padding: 5px 20px;
}

.form-section-labs .single-radio-option input {
  width: fit-content !important;
}


.form-section-labs input::placeholder {
  color: #000;
  opacity: 60%;
}

.form-section-labs input.error::placeholder {
  color: #ff0c0c !important;
}


.form-section-labs input.error {
  color: #ff0c0c !important;
  border: 1px solid #ff0c0c !important;

}
.form-section-labs .label {
  margin-bottom: 8px;
}

.form-section-labs {
  background: #fff;
  border-radius: 18px;
}

.form-section-labs .inner-form-main-section {
    padding: 28px;
}

.abs-password-show-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50% , -50%);
}


/* modal styles */

bun{
  position: relative;
  background-color: #282828;
}
.mymodal {
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* .myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.886);
} */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.886) !important;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 99999999;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}   



/* Loader Styles */

.pl {
    width: 5em;
    height: 5em;
  }
  
  .pl__ring {
    animation: ringA 2s linear infinite;
  }
  
  .pl__ring--a {
    stroke: #f42f25;
  }
  
  .pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
  }
  
  .pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
  }
  
  .pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
  }
  
  /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }